<!DOCTYPE html>
<html>
    <head>
        <h1>Ospedale PythonWebServer</h1>
    </head>
    <body>
        <div class="container">
            {% with messages = get_flashed_messages() %}
             {% if messages %}

               {% for message in messages %} 
                  {{ message }}
               {% endfor %} 
               
             {% endif %} 
            {% endwith %}
        </div>
        <div class="login">
            <form action="/login" method="POST">
                <div class="container">
                    <label for="lname">Username</label>
                    <input type="text" name="user" name="fname" placeholder="Inserire lo username"><br><br>
                    <label for="lpsw">Password</label>
                    <input type="password" name="psw" name="lname" placeholder="Inserire la password"><br><br>
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </body>
</html>